@inherits LayoutComponentBase

@* Bu layout'u kullanan sayfaların içeriği buraya gelecek *@
<div class="container">
    @* Veya başka bir sarmalayıcı div *@
    <div class="row justify-content-center align-items-center min-vh-100">
        @* İçeriği ortalamak için Bootstrap *@
        <div class="col-md-6 col-lg-4">
            @* İçerik genişliğini ayarla *@
            @Body
        </div>
    </div>
</div>