@inherits LayoutComponentBase
@* İsteğe bağlı: Temel CSS dosyalarınızı buraya ekleyebilirsiniz *@
@* <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" /> *@
@* <link href="css/app.css" rel="stylesheet" /> *@

<div class="container-fluid">
    <main role="main" class="pb-3">
        @* Sayfa içeriği buraya gelecek *@
        @Body
    </main>
</div>

@* İsteğe bağlı: Temel JS dosyalarınızı buraya ekleyebilirsiniz *@
@* <script src="_framework/blazor.web.js"></script> *@